.header {
 
  .header-op {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secundary;

    @media (max-width: 576px) { 
      
    }
    
    .language {
      .language-op {
        padding: 0 5px;
      }
    }

    .social {
      .phone {

        color: $color-clean;
        padding-right: 50px;
        @media (max-width: 576px) { 
          padding-right: 10px;          
        }
        span {
          margin-top: -10px;
          padding-left: 10px;
        }
      }
      .email {
        color: $color-clean;
        padding-right: 50px;
        @media (max-width: 576px) { 
          padding-right: 10px;          
        }
      }
    }
  }

  .header-menu {
    padding-left: 0;
    padding-right: 0;

    .header-intro {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      z-index: 1;
      
    }

    .header-content {
      position: absolute;
      width: 100%;
      top:0;
      background-color:rgba(192,192,192,0.3);
      z-index: 2;

      .menu-op {
        padding-right: 50px;
        .item {
          color: $color-secundary;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          padding: 5px;
          margin: 0 5px;
          &:hover {
            border: 1px solid $color-secundary;
            padding: 4px;
          }
        }
      }
    }
   

  }
  
  
.up {
  border:0;
  background-color: $color-primary;
  color:$color-clean;
  cursor: pointer;
  padding:1rem;
  font-size: 1rem;
  position: fixed;
  bottom:1rem;
  right: 1rem;
  z-index: 2;
}
}
