.company {
  .company-details {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;

    .company-image {

      .image {
        padding: 5px;
        border: 1px solid $color-secundary;
      }
    }
    .company-description {

      .company-title {
        text-transform: uppercase;
        color: $color-primary;
        letter-spacing: 2px;
      }

      p {
        max-width: 550px;
      }

      .certifications {
        display:flex;
        justify-content: flex-start;
        padding: 20px 0;
        
        ul {
          margin:0;
          padding: 0;

          .certifications-item {
            padding-right: 50px;
            padding-bottom: 20px;
            color: $color-primary;
            margin:0;  
            list-style: none;     
            
            .certificate {
              padding: 0 5px;
              color: $color-icon;
            }
          }
        }
      
      }
    }
  }
}