.contact {
  margin: 80px 0;
  .form-content {
    .contact-title {
      text-transform: uppercase;
      color: $color-primary;
      letter-spacing: 2px;
      text-align: center;
    }
  }

  .map {
    margin-top: 40px;
  }
}