.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: $color-secundary;
  color: $color-clean;

  @media (max-width: 576px) { 
    flex-direction: column;
  }

  p {
    padding: 0;
    margin:0;
  }
}