
.info {
  height: 25vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image:   url('../images/info/bg-info.jpg');
  text-align: center;

  @media (max-width: 576px) { 
    height: 35vh;
   }
  .info-row {
    height: 25vh;

    .info-number {
      color: $color-secundary;
      font-size: 36px;
      font-weight: bold;

      @media (max-width: 576px) { 
        font-size: 24px;
       }
    }

    .info-title {
      color: $color-secundary;
      font-size: 24px;
      @media (max-width: 576px) { 
        font-size: 12px;
       }
    }
  }
}