.skeleton {
  margin: 80px 0;
  .skeleton-title {
    text-transform: uppercase;
    color: $color-primary;
    letter-spacing: 2px;
    text-align: center;

    @media (max-width: 576px) { 
      font-size: 32px;
      text-align: center;
    }
  }
  .skeleton-details {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 40px 0;

    &.reverse {
      flex-direction: row;
    }

    .skeleton-image {

      .image {
        padding: 5px;
        border: 1px solid $color-secundary;
      }
    }
    .skeleton-description {

      .skeleton-subtitle {
        text-transform: uppercase;
        color: $color-primary;
        letter-spacing: 2px;

        @media (max-width: 576px) { 
          font-size: 28px;
          text-align: center;
          margin-top: 30px;
        }
      }

      p {
        max-width: 550px;
      }

    }
  }
}