@import "variables/colors.scss";
@import "components/header.scss";
@import "components/company.scss";  
@import "components/info.scss"; 
@import "components/products.scss";
@import "components/quality.scss"; 
@import "components/skeleton.scss";
@import "components/clients.scss";
@import "components/contact.scss";
@import "components/footer.scss";
@import "components/animate.scss";